@{
    ViewBag.Title = "ProfileInfo";
}
<div>
<label>Submit Nokta</label>
<input id="message_wall"/>
<input type="submit"  id="submit_wall" name="Post"/>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#submit_wall").click(function () {
            alert("123");
            var message_wall = $('#message_wall').attr('value');
            $.ajax(
    {
        type: "POST",
        url: "/Home/PostMesSage",
        data: { 'pUserId': '1233', 'pJoke': message_wall },
        success: function (result) {
            if (result.toString = "Success") {
                alert("Success");
            }
            //if(result.success) $("#feedback input").attr("value", ""); // clear all the input fields on success        
        },
        error: function (req, status, error) {
            alert("Sorry! We could not receive your feedback at this time.");
        }
    });
        });
    });

//FB.ui(
//   {
//       method: 'stream.publish',
//       message: message_wall,
//       attachment: {
//           name: 'Connect',
//           caption: 'The Facebook Connect JavaScript SDK',
//           description: (
//         'A small JavaScript library that allows you to harness ' +
//         'the power of Facebook, bringing the user\'s identity, ' +
//         'social graph and distribution power to your site.'
//       ),
//           href: 'http://github.com/facebook/connect-js'
//       },
//       action_links: [
//       { text: 'Code', href: 'http://github.com/facebook/connect-js' }
//     ],
//       user_message_prompt: 'Share your thoughts about Connect'
//   },
//   function (response) {
//       if (response && response.post_id) {
//           alert('Post was published.');
//       } else {
//           alert('Post was not published.');
//       }
//   }

// );


</script>
  @*<scirpt>
  document.ready()
     FB.ui(
   {
     method: 'stream.publish',
     message: 'getting educated about Facebook Connect',
     attachment: {
       name: 'Connect',
       caption: 'The Facebook Connect JavaScript SDK',
       description: (
         'A small JavaScript library that allows you to harness ' +
         'the power of Facebook, bringing the user\'s identity, ' +
         'social graph and distribution power to your site.'
       ),
       href: 'http://github.com/facebook/connect-js'
     },
     target_id: 'ENTER YOU FRIENDS IDS - more than one, seperate by commas',
     action_links: [
       { text: 'Code', href: 'http://github.com/facebook/connect-js' }
     ],
     user_message_prompt: 'Share your thoughts about Connect'
   },
   function(response) {
     if (response && response.post_id) {
       alert('Post was published.');
     } else {
       alert('Post was not published.');
     }
   }

 );
  </scirpt>*@
@*<div class="fb-comments" data-href="https://graph.facebook.com/340791049284352/" data-num-posts="2" data-width="470"></div>*@

