    <div class="msg_post">
                 <table>
                 <tr>
                 <td rowspan="2" valign="top"><img alt="" src='https://graph.facebook.com/@Model.UserId/picture'  /></td>
                 <td colspan="2">@Html.ActionLink(@Model.UserName, null, "User", new { id = @Model.UserId }, null)</td>
                 </tr>
                 <tr><td valign="top">  
                 <textarea id="message_wall" class="msg_txt" rows="3" cols="20"></textarea>                
                 </td>
                 <td><input type="button" id="submit_wall" value="Post" class="btn" /></td></tr>
                 </table>  

    </div>
