*{
	/* Universal page reset */
	margin:0;
	padding:0;
}

body{
	font-size:0.825em;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
}

.main
{
    float: left;
	width:700px;
	
}

.holder{
	width:680px;
	height:800px;    
	overflow:hidden;
	position:relative;
	padding-bottom:10px;
	margin:10px;

	-moz-box-shadow:0 0 10px #222 inset;
	box-shadow:0 0 10px #222 inset;
}


.msg_post{
	width:500;
	overflow:hidden;
	position:relative;
	padding-bottom:10px;
	padding:30px;
	margin:10px;

	-moz-box-shadow:0 0 10px #222 inset;
	box-shadow:0 0 10px #222 inset;
	box-shadow:0 0 10px #222 inset;
}


.swControls{
	position:absolute;
	margin-top:10px;
}

a.swShowPage{
	background-color:#444444;
	float:left;
	height:15px;
	margin:4px 3px;
	text-indent:-9999px;
	width:15px;

	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

a.swShowPage:hover,
a.swShowPage.active{
	background-color:#2993dd;
	-moz-box-shadow:0 0 7px #1e435d inset;
	box-shadow:0 0 7px #1e435d inset;
}

.holder li
{
    width:620px;
	background-color:#F4F4F4;
	list-style:none outside none;
	margin:10px 10px 0;
	padding:20px;
	float:left;
	

	-moz-box-shadow:0 0 6px #111111;
	box-shadow:0 0 6px #111111;
}

.holder,
.holder li,.msg_post{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.tbl_posts
{
    width:550;
	overflow:hidden;
	position:relative;
	padding-bottom:10px;
}

.clear{
	clear:both;
}

.btn{
    background-color: #3D57B6;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Verdana;
    font-size: 12px;
    margin: 3px 3 3 3;
    text-align: center;    

}

.btn:disabled{
    background: #999;
    cursor: default; 
}


.msg_txt
{
    width:360px;
    height:80px;
    
    font-family: Verdana;
    font-size: 12px;
    margin:10px 10px 0;
    
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:0px;

}

.right_col_container {
    clear: none;
    float: right;
    margin: 50px auto;
    padding-left: 12px;
}

.img 
{
    padding-top:10px;
    float: left;
}

.btnup
{
    background:url(img/up.jpg);
    width:28px;
    height:28px;
    
     
}


.btnDown
{
    background:url(img/down.jpg);
    width:28px;
    height:28px;
}

.tblFiveCols
{
    width:100%;    
}

.tblFiveCols td
{
    text-align:left;
    width:20%;
}


